<ion-header color="primary">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="form">

    <ion-item>
      <ion-input label="Nombre" name="name" formControlName="name" labelPlacement="floating" [counter]="true" minlength="10" maxlength="150"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" name="email" formControlName="email" placeholder="@ucn.cl, @alumnos.ucn.cl, @disc.ucn.cl, @ce.ucn.cl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Año de nacimiento</ion-label>
      <ion-input type="text" name="yearBirth" formControlName="yearBirth"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input type="text" name="rut" formControlName="rut" placeholder="Ingrese RUT con puntos y guión"></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="onSubmit()">Registrarse</ion-button>
  </form>

  <ion-card color="danger" *ngIf="errorMessages.length > 0">
    <ion-card-header>
      <ion-card-title color="white">Errores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let error of errorMessages">
          <ion-label>- {{error}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="white">¿Tienes cuenta?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button fill="clear" [routerLink]="['/login']" routerLinkActive="router-link-active">Iniciar sesión</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>